<a href="https://colab.research.google.com/github/aravind-chilakamarri/Pyspark/blob/main/pyspark_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. PySpark Dataframe
2. Reading The Dataset
3. Checking the Datatypes of the Column(Schema)
4. Selecting Columns And Indexing
5. Check Describe option similar to Pandas
6. Adding Columns
7. Dropping columns
8. Renaming Columns

In [2]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=8c0b5caebd61f8492e09da2619a3655d2929f6844132e423869be70f62336946
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [5]:
from pyspark.sql import SparkSession
import pandas as pd

In [6]:
spark=SparkSession.builder.appName('Practice 2').getOrCreate()

In [7]:
spark

In [8]:
# read the dataset
pd_df = pd.read_csv('https://raw.githubusercontent.com/aravind-chilakamarri/Pyspark/main/datasets/test1.csv')
df_pyspark=spark.createDataFrame(pd_df)

In [9]:
df_pyspark.show()

+----+---+----------+
|name|age|experience|
+----+---+----------+
|   a|  1|        10|
|   b|  2|        20|
|   c|  3|        30|
+----+---+----------+

In [10]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)
 |-- experience: long (nullable = true)

In [11]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [12]:
df_pyspark.head(3)

[Row(name='a', age=1, experience=10),
 Row(name='b', age=2, experience=20),
 Row(name='c', age=3, experience=30)]

In [13]:
df_pyspark.select(['Name','Experience']).show()

+----+----------+
|Name|Experience|
+----+----------+
|   a|        10|
|   b|        20|
|   c|        30|
+----+----------+

In [14]:
df_pyspark['Name']

Column<'Name'>

In [15]:
df_pyspark.describe().show()

+-------+----+---+----------+
|summary|name|age|experience|
+-------+----+---+----------+
|  count|   3|  3|         3|
|   mean|NULL|2.0|      20.0|
| stddev|NULL|1.0|      10.0|
|    min|   a|  1|        10|
|    max|   c|  3|        30|
+-------+----+---+----------+

In [16]:
# adding Columns in data frame
df_pyspark=df_pyspark.withColumn('Experience After 2 year',df_pyspark['Experience']+2)

In [17]:
df_pyspark.show()

+----+---+----------+-----------------------+
|name|age|experience|Experience After 2 year|
+----+---+----------+-----------------------+
|   a|  1|        10|                     12|
|   b|  2|        20|                     22|
|   c|  3|        30|                     32|
+----+---+----------+-----------------------+

In [18]:
# Drop the columns
df_pyspark=df_pyspark.drop('Experience After 2 year')

In [19]:
df_pyspark.show()

+----+---+----------+
|name|age|experience|
+----+---+----------+
|   a|  1|        10|
|   b|  2|        20|
|   c|  3|        30|
+----+---+----------+

In [20]:
# Rename the columns
df_pyspark.withColumnRenamed('name','New Name').show()

+--------+---+----------+
|New Name|age|experience|
+--------+---+----------+
|       a|  1|        10|
|       b|  2|        20|
|       c|  3|        30|
+--------+---+----------+