<a href="https://colab.research.google.com/github/aravind-chilakamarri/Pyspark/blob/main/Pyspark_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Next:
1. Dropping Columns
2. Dropping Rows
3. Various Parameters in Dropping functionalities
4. Handling Missing Values by Mean, Median and Mode

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=3e894c5a6e6028ed129c8a5548fb388fabf1cc04e578e4c9293d7765e25c61a1
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [2]:
from pyspark.sql import SparkSession
import pandas as pd

In [3]:
spark = SparkSession.builder.appName('Practise 3').getOrCreate()

In [4]:
pd_df = pd.read_csv('https://raw.githubusercontent.com/aravind-chilakamarri/Pyspark/main/datasets/test2.csv')
df_pyspark = spark.createDataFrame(pd_df)

In [5]:
df_pyspark.show()

+----+----+----------+--------+
|name| age|experience|  salary|
+----+----+----------+--------+
|   a|27.0|       2.0|100000.0|
|   b|28.0|       3.0|200000.0|
|   c|40.0|       7.0|340000.0|
|   d| NaN|       4.0|150000.0|
|   e| NaN|       NaN|180000.0|
|   f|29.0|       6.0|175600.0|
| NaN|23.0|       NaN|120000.0|
| NaN|25.0|       5.0|170000.0|
|   g|27.0|       NaN|     NaN|
|   h|28.0|       NaN| 19000.0|
+----+----+----------+--------+

In [6]:
#Drop the columns
df_pyspark.drop('name').show()

+----+----------+--------+
| age|experience|  salary|
+----+----------+--------+
|27.0|       2.0|100000.0|
|28.0|       3.0|200000.0|
|40.0|       7.0|340000.0|
| NaN|       4.0|150000.0|
| NaN|       NaN|180000.0|
|29.0|       6.0|175600.0|
|23.0|       NaN|120000.0|
|25.0|       5.0|170000.0|
|27.0|       NaN|     NaN|
|28.0|       NaN| 19000.0|
+----+----------+--------+

In [7]:
df_pyspark.show()

+----+----+----------+--------+
|name| age|experience|  salary|
+----+----+----------+--------+
|   a|27.0|       2.0|100000.0|
|   b|28.0|       3.0|200000.0|
|   c|40.0|       7.0|340000.0|
|   d| NaN|       4.0|150000.0|
|   e| NaN|       NaN|180000.0|
|   f|29.0|       6.0|175600.0|
| NaN|23.0|       NaN|120000.0|
| NaN|25.0|       5.0|170000.0|
|   g|27.0|       NaN|     NaN|
|   h|28.0|       NaN| 19000.0|
+----+----+----------+--------+

In [8]:
# Drop columns using null values
# this drop wherever null values are present

df_pyspark.na.drop().show()

+----+----+----------+--------+
|name| age|experience|  salary|
+----+----+----------+--------+
|   a|27.0|       2.0|100000.0|
|   b|28.0|       3.0|200000.0|
|   c|40.0|       7.0|340000.0|
|   f|29.0|       6.0|175600.0|
| NaN|25.0|       5.0|170000.0|
+----+----+----------+--------+

In [9]:
#how, any, threshold

#any == how

df_pyspark.na.drop(how='all').show() #if a row with all values as null then it will get dropped

+----+----+----------+--------+
|name| age|experience|  salary|
+----+----+----------+--------+
|   a|27.0|       2.0|100000.0|
|   b|28.0|       3.0|200000.0|
|   c|40.0|       7.0|340000.0|
|   d| NaN|       4.0|150000.0|
|   e| NaN|       NaN|180000.0|
|   f|29.0|       6.0|175600.0|
| NaN|23.0|       NaN|120000.0|
| NaN|25.0|       5.0|170000.0|
|   g|27.0|       NaN|     NaN|
|   h|28.0|       NaN| 19000.0|
+----+----+----------+--------+

In [10]:
df_pyspark.na.drop(how='any').show() # default and if any column has null the drop complete row

+----+----+----------+--------+
|name| age|experience|  salary|
+----+----+----------+--------+
|   a|27.0|       2.0|100000.0|
|   b|28.0|       3.0|200000.0|
|   c|40.0|       7.0|340000.0|
|   f|29.0|       6.0|175600.0|
| NaN|25.0|       5.0|170000.0|
+----+----+----------+--------+

In [11]:
df_pyspark.na.drop(thresh=2).show() # if there are any 2 values then keep the row otherwise delete

+----+----+----------+--------+
|name| age|experience|  salary|
+----+----+----------+--------+
|   a|27.0|       2.0|100000.0|
|   b|28.0|       3.0|200000.0|
|   c|40.0|       7.0|340000.0|
|   d| NaN|       4.0|150000.0|
|   e| NaN|       NaN|180000.0|
|   f|29.0|       6.0|175600.0|
| NaN|23.0|       NaN|120000.0|
| NaN|25.0|       5.0|170000.0|
|   g|27.0|       NaN|     NaN|
|   h|28.0|       NaN| 19000.0|
+----+----+----------+--------+

In [12]:
#subset

df_pyspark.na.drop(how = "any", subset = ['experience']).show()

+----+----+----------+--------+
|name| age|experience|  salary|
+----+----+----------+--------+
|   a|27.0|       2.0|100000.0|
|   b|28.0|       3.0|200000.0|
|   c|40.0|       7.0|340000.0|
|   d| NaN|       4.0|150000.0|
|   f|29.0|       6.0|175600.0|
| NaN|25.0|       5.0|170000.0|
+----+----+----------+--------+

In [13]:
# Filling the Missing values

df_pyspark.na.fill('Missing values',['name']).show() #ignoring non-string columns

+----+----+----------+--------+
|name| age|experience|  salary|
+----+----+----------+--------+
|   a|27.0|       2.0|100000.0|
|   b|28.0|       3.0|200000.0|
|   c|40.0|       7.0|340000.0|
|   d| NaN|       4.0|150000.0|
|   e| NaN|       NaN|180000.0|
|   f|29.0|       6.0|175600.0|
| NaN|23.0|       NaN|120000.0|
| NaN|25.0|       5.0|170000.0|
|   g|27.0|       NaN|     NaN|
|   h|28.0|       NaN| 19000.0|
+----+----+----------+--------+

In [14]:
# impute the values in the place of NULLS

from pyspark.ml.feature import Imputer

imputer = Imputer(
          inputCols = ['age','experience','salary'],
          outputCols = ["{}_imputed".format(c) for c in ['age','experience','salary']]
).setStrategy('mean')

In [15]:
# Add imputation cols to df_pyspark

imputer.fit(df_pyspark).transform(df_pyspark).show()

+----+----+----------+--------+-----------+------------------+------------------+
|name| age|experience|  salary|age_imputed|experience_imputed|    salary_imputed|
+----+----+----------+--------+-----------+------------------+------------------+
|   a|27.0|       2.0|100000.0|       27.0|               2.0|          100000.0|
|   b|28.0|       3.0|200000.0|       28.0|               3.0|          200000.0|
|   c|40.0|       7.0|340000.0|       40.0|               7.0|          340000.0|
|   d| NaN|       4.0|150000.0|     28.375|               4.0|          150000.0|
|   e| NaN|       NaN|180000.0|     28.375|               4.5|          180000.0|
|   f|29.0|       6.0|175600.0|       29.0|               6.0|          175600.0|
| NaN|23.0|       NaN|120000.0|       23.0|               4.5|          120000.0|
| NaN|25.0|       5.0|170000.0|       25.0|               5.0|          170000.0|
|   g|27.0|       NaN|     NaN|       27.0|               4.5|161622.22222222222|
|   h|28.0|       NaN| 19000.0|       28.0|               4.5|           19000.0|
+----+----+----------+--------+-----------+------------------+------------------+