<a href="https://colab.research.google.com/github/aravind-chilakamarri/Pyspark/blob/main/Pyspark_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Next:
1. Filter Operation
2. &,|,==
3. ~

In [2]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 2.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=21315da6d4b55e1392d27caa63e99579d27f9520c0aca9e6a08e83961ea33962
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [7]:
from pyspark.sql import SparkSession
import pandas as pd

In [13]:
spark = SparkSession.builder.appName('Practice 4').getOrCreate()

In [11]:
pd_df = pd.read_csv('https://raw.githubusercontent.com/aravind-chilakamarri/Pyspark/main/datasets/test3.csv')

In [15]:
df_pyspark = spark.createDataFrame(pd_df)

In [16]:
df_pyspark.show()

+----+---+----------+------+
|name|age|experience|salary|
+----+---+----------+------+
|   a|  1|         1| 10000|
|   b|  2|         2| 15000|
|   c|  3|         3| 24000|
|   d|  4|         2| 12000|
|   e|  5|         5| 34000|
+----+---+----------+------+

# Filter Operations

In [17]:
# Salaries of the people less than or equal to 20000

df_pyspark.filter("salary <= 20000").show()

+----+---+----------+------+
|name|age|experience|salary|
+----+---+----------+------+
|   a|  1|         1| 10000|
|   b|  2|         2| 15000|
|   d|  4|         2| 12000|
+----+---+----------+------+

In [18]:
df_pyspark.filter("salary <= 20000").select(['name','age']).show()

+----+---+
|name|age|
+----+---+
|   a|  1|
|   b|  2|
|   d|  4|
+----+---+

In [19]:
df_pyspark.filter(df_pyspark['salary']<=20000).show()

+----+---+----------+------+
|name|age|experience|salary|
+----+---+----------+------+
|   a|  1|         1| 10000|
|   b|  2|         2| 15000|
|   d|  4|         2| 12000|
+----+---+----------+------+

In [26]:
df_pyspark.filter(
                  (df_pyspark['salary']<=20000) &
                  (df_pyspark['salary']>=15000)).show()

+----+---+----------+------+
|name|age|experience|salary|
+----+---+----------+------+
|   b|  2|         2| 15000|
+----+---+----------+------+

In [28]:
df_pyspark.filter(~(df_pyspark['salary']<=20000)).show()

+----+---+----------+------+
|name|age|experience|salary|
+----+---+----------+------+
|   c|  3|         3| 24000|
|   e|  5|         5| 34000|
+----+---+----------+------+