<a href="https://colab.research.google.com/github/aravind-chilakamarri/Pyspark/blob/main/Pyspark_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Next:
1. Filter Operation
2. &,|,==
3. ~

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
df_pyspark = spark.read.csv('/content/test3.csv', inferSchema =True, header = True)

In [ ]:
df_pyspark.show()

+----+---+----------+------+
|name|age|experience|salary|
+----+---+----------+------+
|   a|  1|         1| 10000|
|   b|  2|         2| 15000|
|   c|  3|         3| 24000|
|   d|  4|         2| 12000|
|   e|  5|         5| 34000|
+----+---+----------+------+

In [ ]:
# Filter Operations