<a href="https://colab.research.google.com/github/aravind-chilakamarri/Pyspark/blob/main/Pyspark_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Next:
1. Dropping Columns
2. Dropping Rows
3. Various Parameters in Dropping functionalities
4. Handling Missing Values by Mean, Median and Mode

In [ ]:
# from pyspark.sql import SparkSession

In [ ]:
# spark = sparkSession.builder.appName('Practise').getOrCreate()

In [ ]:
df_pyspark = spark.read.csv('/content/test2.csv', inferSchema=True, header=True)

In [ ]:
df_pyspark.show()

+----+----+----------+------+
|name| age|experience|salary|
+----+----+----------+------+
|   a|  27|         2|100000|
|   b|  28|         3|200000|
|   c|  40|         7|340000|
|   d|NULL|         4|150000|
|   e|NULL|      NULL|180000|
|   f|  29|         6|175600|
|NULL|  23|      NULL|120000|
|NULL|  25|         5|170000|
|   g|  27|      NULL|  NULL|
|   h|  28|      NULL| 19000|
+----+----+----------+------+

In [ ]:
#Drop the columns
df_pyspark.drop('name').show()

+----+----------+------+
| age|experience|salary|
+----+----------+------+
|  27|         2|100000|
|  28|         3|200000|
|  40|         7|340000|
|NULL|         4|150000|
|NULL|      NULL|180000|
|  29|         6|175600|
|  23|      NULL|120000|
|  25|         5|170000|
|  27|      NULL|  NULL|
|  28|      NULL| 19000|
+----+----------+------+

In [ ]:
df_pyspark.show()

+----+----+----------+------+
|name| age|experience|salary|
+----+----+----------+------+
|   a|  27|         2|100000|
|   b|  28|         3|200000|
|   c|  40|         7|340000|
|   d|NULL|         4|150000|
|   e|NULL|      NULL|180000|
|   f|  29|         6|175600|
|NULL|  23|      NULL|120000|
|NULL|  25|         5|170000|
|   g|  27|      NULL|  NULL|
|   h|  28|      NULL| 19000|
+----+----+----------+------+

In [ ]:
# Drop columns using null values
# this drop wherever null values are present

df_pyspark.na.drop().show()

+----+---+----------+------+
|name|age|experience|salary|
+----+---+----------+------+
|   a| 27|         2|100000|
|   b| 28|         3|200000|
|   c| 40|         7|340000|
|   f| 29|         6|175600|
+----+---+----------+------+

In [ ]:
#how, any, threshold

#any == how

df_pyspark.na.drop(how='all').show() #if a row with all values as null then it will get dropped

+----+----+----------+------+
|name| age|experience|salary|
+----+----+----------+------+
|   a|  27|         2|100000|
|   b|  28|         3|200000|
|   c|  40|         7|340000|
|   d|NULL|         4|150000|
|   e|NULL|      NULL|180000|
|   f|  29|         6|175600|
|NULL|  23|      NULL|120000|
|NULL|  25|         5|170000|
|   g|  27|      NULL|  NULL|
|   h|  28|      NULL| 19000|
+----+----+----------+------+

In [ ]:
df_pyspark.na.drop(how='any').show() # default and if any column has null the drop complete row

+----+---+----------+------+
|name|age|experience|salary|
+----+---+----------+------+
|   a| 27|         2|100000|
|   b| 28|         3|200000|
|   c| 40|         7|340000|
|   f| 29|         6|175600|
+----+---+----------+------+

In [ ]:
df_pyspark.na.drop(thresh=2).show() # if there are any 2 values then keep the row otherwise delete

+----+----+----------+------+
|name| age|experience|salary|
+----+----+----------+------+
|   a|  27|         2|100000|
|   b|  28|         3|200000|
|   c|  40|         7|340000|
|   d|NULL|         4|150000|
|   e|NULL|      NULL|180000|
|   f|  29|         6|175600|
|NULL|  23|      NULL|120000|
|NULL|  25|         5|170000|
|   g|  27|      NULL|  NULL|
|   h|  28|      NULL| 19000|
+----+----+----------+------+

In [ ]:
#subset

df_pyspark.na.drop(how = "any", subset = ['experience']).show()

+----+----+----------+------+
|name| age|experience|salary|
+----+----+----------+------+
|   a|  27|         2|100000|
|   b|  28|         3|200000|
|   c|  40|         7|340000|
|   d|NULL|         4|150000|
|   f|  29|         6|175600|
|NULL|  25|         5|170000|
+----+----+----------+------+

In [ ]:
# Filling the Missing values

df_pyspark.na.fill('Missing values',['name','experience']).show() #ignoring non-string columns

+--------------+----+----------+------+
|          name| age|experience|salary|
+--------------+----+----------+------+
|             a|  27|         2|100000|
|             b|  28|         3|200000|
|             c|  40|         7|340000|
|             d|NULL|         4|150000|
|             e|NULL|      NULL|180000|
|             f|  29|         6|175600|
|Missing values|  23|      NULL|120000|
|Missing values|  25|         5|170000|
|             g|  27|      NULL|  NULL|
|             h|  28|      NULL| 19000|
+--------------+----+----------+------+

In [ ]:
# impute the values in the place of NULLS

from pyspark.ml.feature import Imputer

imputer = Imputer(
          inputCols = ['age','experience','salary'],
          outputCols = ["{}_imputed".format(c) for c in ['age','experience','salary']]
).setStrategy('mean')

In [ ]:
# Add imputation cols to df_pyspark

imputer.fit(df_pyspark).transform(df_pyspark).show()

+----+----+----------+------+-----------+------------------+--------------+
|name| age|experience|salary|age_imputed|experience_imputed|salary_imputed|
+----+----+----------+------+-----------+------------------+--------------+
|   a|  27|         2|100000|         27|                 2|        100000|
|   b|  28|         3|200000|         28|                 3|        200000|
|   c|  40|         7|340000|         40|                 7|        340000|
|   d|NULL|         4|150000|         28|                 4|        150000|
|   e|NULL|      NULL|180000|         28|                 4|        180000|
|   f|  29|         6|175600|         29|                 6|        175600|
|NULL|  23|      NULL|120000|         23|                 4|        120000|
|NULL|  25|         5|170000|         25|                 5|        170000|
|   g|  27|      NULL|  NULL|         27|                 4|        161622|
|   h|  28|      NULL| 19000|         28|                 4|         19000|
+----+----+----------+------+-----------+------------------+--------------+