<a href="https://colab.research.google.com/github/aravind-chilakamarri/Pyspark/blob/main/Pyspark_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pyspark GroupBy and Aggregate Functions

In [1]:
!pip install --quiet pyspark

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for pyspark (setup.py) ... done

In [6]:
import pyspark
import pandas as pd

In [3]:
from pyspark.sql import SparkSession

In [8]:
spark = SparkSession.builder.appName('Practise 5').getOrCreate()

In [29]:
pd_df = pd.read_csv('https://raw.githubusercontent.com/aravind-chilakamarri/Pyspark/main/datasets/test5.csv')
df_pyspark = spark.createDataFrame(pd_df)

In [30]:
df_pyspark.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [31]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: long (nullable = true)

In [32]:
# group by

df_pyspark.groupBy('Name').sum().show() #just an example, grouped to find max salary. you would understand if any name is repeated

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|    Krish|      19000|
|   Mahesh|       7000|
|Sudhanshu|      35000|
|    Sunny|      12000|
+---------+-----------+

In [33]:
df_pyspark.groupBy('Name').max().show()

+---------+-----------+
|     Name|max(salary)|
+---------+-----------+
|    Krish|      10000|
|   Mahesh|       4000|
|Sudhanshu|      20000|
|    Sunny|      10000|
+---------+-----------+

In [34]:
df_pyspark.groupBy('Name').min().show()

+---------+-----------+
|     Name|min(salary)|
+---------+-----------+
|    Krish|       4000|
|   Mahesh|       3000|
|Sudhanshu|       5000|
|    Sunny|       2000|
+---------+-----------+

In [35]:
df_pyspark.groupBy('Name').avg().show()

+---------+------------------+
|     Name|       avg(salary)|
+---------+------------------+
|    Krish| 6333.333333333333|
|   Mahesh|            3500.0|
|Sudhanshu|11666.666666666666|
|    Sunny|            6000.0|
+---------+------------------+

In [36]:
#groupby department

df_pyspark.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [37]:
# can use count, instead of sum
df_pyspark.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [38]:
df_pyspark.groupBy('Departments').mean().show()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [39]:
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+